{{!< ../layout}}

<div layout="row">
	<div flex="33" flex-offset="33">
		<form name="userForm" action="/account/login" method="post">
			<md-input-container style="width: 100%">
				<label>Login</label>
				<input type="text" name="login">
			</md-input-container>
			<md-input-container style="width: 100%">
				<label>Password</label>
				<input type="password" name="password">
			</md-input-container>
			<button class="md-button md-raised md-primary" style="width: 100%" action="">
				Login
			</button>
		</form>

		<!--{{user.displayName}} / {{user.provider}}  <br>-->
		<md-button class="md-fab md-primary" aria-label="Facebook" href="/auth/facebook">
			<ng-md-icon icon="facebook-box" size="40px" style="fill: white;"></ng-md-icon>
		</md-button>
		<md-button class="md-fab" aria-label="vkontakte" href="/auth/vkontakte">
			<b>VK</b>
		</md-button>
		<md-button class="md-fab md-primary" aria-label="linkedin" href="/auth/linkedin">
			<ng-md-icon icon="linkedin-box" size="40px" style="fill: white;"></ng-md-icon>
		</md-button>
		<md-button class="md-fab" aria-label="twitter" href="/auth/twitter">
			<ng-md-icon icon="twitter" size="40px" style="fill: white;"></ng-md-icon>
		</md-button>
	</div>
</div>


