{{!< ../layout}}

<div layout="row">
	<div flex="33" flex-offset="33">
		{{#user.errors}}
			<div class="md-button md-warn md-raised" style="width: 100%">
				{{.}}
			</div>
		{{/user.errors}}
		<form name="userForm" action="/account/createUser" method="post">
			<md-input-container style="width: 100%">
				<label>Login</label>
				<input type="text" name="login" value="{{user.login}}" required>
			</md-input-container>
			<md-input-container style="width: 100%">
				<label>Password</label>
				<input type="password" name="password" value="{{user.password}}" required>
			</md-input-container>
			<md-input-container style="width: 100%">
				<label>Confirm password</label>
				<input type="password" name="confirm" value="{{user.confirm}}" required>
			</md-input-container>
			<button class="md-button md-raised md-primary" style="width: 100%" action="">
				Register
			</button>
		</form>
	</div>
</div>


