<!DOCTYPE html>
<html ng-app="platform">
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="google-site-verification" content="HOIP_EUFZs9TOua0-mvSB6IzNEMr0grpWHmKmLRLSS0"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="Keywords" content="{{keywords}}">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
	<meta name="viewport" content="initial-scale=1"/>
</head>
<body layout="column">
<!--28fa5-->
<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
	var _tmr = window._tmr || (window._tmr = []);
	_tmr.push({id: "2433037", type: "pageView", start: (new Date()).getTime()});
	(function (d, w, id) {
		if (d.getElementById(id)) return;
		var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
		ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
		var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
		if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
	})(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
	<img src="//top-fwz1.mail.ru/counter?id=2433037;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->



<md-toolbar layout="row">
	<div class="md-toolbar-tools">
		<md-button href="/" class="md-fab md-primary">
			<ng-md-icon icon="local_movies" style="fill:white;" size="50"></ng-md-icon>
		</md-button>
		<h1>Naparom.ru</h1>
		{{#isAuthenticated}}
			<span flex></span>
			<h4 class="md-raised" aria-label="Learn More">
				{{user.displayName}}
			</h4>
			<md-button href="/account/logout" class="md-raised" aria-label="Learn More">
				Log out
			</md-button>
		{{/isAuthenticated}}

		{{^isAuthenticated}}
			<span flex></span>
			<md-button href="/account/login" class="md-raised" aria-label="Learn More">
				Login
			</md-button>
			<md-button href="/account/register" class="md-raised md-accent" aria-label="Learn More">
				Register
			</md-button>
		{{/isAuthenticated}}
	</div>
</md-toolbar>
<div layout="row" flex>
	<div layout="column" flex>
		<md-content class="md-padding">
			{{{body}}}
		</md-content>
	</div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>
<script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
<script src="/js/app.js"></script>
</html>
