{{!< ../layout}}
<style>
	.md-button.left {
		border-radius: 10px 0 0 10px;
	}

	.md-button.right {
		border-radius: 0 10px 10px 0;
	}


</style>
<div layout="row" layout-wrap>
	<div flex-gt-md="80" flex="100">
		<div layout-gt-sm="row" layout-padding layout-wrap layout-fill>
			<md-toolbar class="md-hue-2">
				<div class="md-toolbar-tools">
					<h2>{{title}}</h2>
				</div>
			</md-toolbar>
			{{#movies}}
				<div flex-sm="100" flex-md="50" flex-gt-md="25">
					<md-card class="md-whiteframe-3dp">
						<img ng-src="/image/{{type}}/{{id}}/{{seoKey}}" alt="{{title}}" class="md-card-image">
						<md-card-content>
							<a href="/movie/{{type}}id/{{id}}/{{seoKey}}" flex="33" style="color: gray;">{{title}}</a>
						</md-card-content>
					</md-card>
				</div>
			{{/movies}}
		</div>
		<div layout="row" layout-align="center center">
			{{#hasNotBackBtn}}
				<a class="md-button  groupX md-whiteframe-3dp"
				   href="/movie/list?yp={{nextYoutubePage}}&rp={{nextRutubePage}}">Next</a>
			{{/hasNotBackBtn}}
			{{^hasNotBackBtn}}
				<a class="md-button  groupX left md-whiteframe-3dp"
				   href="/movie/list?yp={{prevYoutubePage}}&rp={{prevRutubePage}}">Back</a>
				<a class="md-button  groupX right md-whiteframe-3dp"
				   href="/movie/list?yp={{nextYoutubePage}}&rp={{nextRutubePage}}">Next</a>
			{{/hasNotBackBtn}}
		</div>
	</div>
	<div flex-gt-md="20" flex="100">
		<div layout="row" layout-padding layout-wrap layout-fill>
			<md-toolbar class="md-hue-2">
				<div class="md-toolbar-tools">
					<h2>Categories:</h2>
				</div>
			</md-toolbar>
			{{#categories}}
				<a href="/movie/list?q={{name}}"
				   style="flex-grow: 1"
				   class="md-button md-raised">{{name}}</a>
			{{/categories}}
		</div>
	</div>
</div>

