{{!< ../layout}}
<div class="row">
	<div class="col-md-8">
		<div class="mp-thumbnail col-md-12 well well-sm">
			<div class="thumbnail" style="height:410px;">
				<h3 style="text-align: center;">Movie Has Been Removed</h3>
			</div>
		</div>
	</div>
</div>


