{{!< ../layout}}
<div layout="row" layout-wrap>
	<style>
		.md-card-image iframe {
			width: 100% !important;
		}

		.pointer {
			cursor: pointer;
		}
	</style>
	<div flex-gt-md="60" flex="100">
		<div flex="100">
			<md-card class="md-whiteframe-3dp">
				{{^movie.hasPlayerHtml}}
					<iframe width="100%"
							height="400"
							src="/movieframe/{{movie.id}}"
							frameborder="0"
							class="md-card-image"
							allowfullscreen></iframe>
					<md-card-content>
						<h4>{{movie.title}}</h4>
					</md-card-content>
				{{/movie.hasPlayerHtml}}
				{{#movie.hasPlayerHtml}}
					<div class="md-card-image">
						{{{movie.playerHtml}}}
					</div>
					<md-card-content>
						<h4>{{movie.title}}</h4>
					</md-card-content>
				{{/movie.hasPlayerHtml}}
				<style>
					.md-whiteframe-3dp h4 a {
						text-decoration: none;
					}
				</style>

				<h4 ng-init="startrate={{movie.rate}}; rate=0">
					<span ng-show="(startrate>=1 && rate==0) || rate>=1" ng-mouseover="rate=1" ng-mouseleave="rate=0">
						{{#isAuthenticated}}
							<a href="/movie/setrate?rate=1&id={{movie.localId}}">
								<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
							</a>
						{{/isAuthenticated}}
						{{^isAuthenticated}}
							<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
						{{/isAuthenticated}}
					</span>


					<span ng-show="(startrate>=2 && rate==0) || rate>=2" ng-mouseover="rate=2" ng-mouseleave="rate=0">
						{{#isAuthenticated}}
							<a href="/movie/setrate?rate=2&id={{movie.localId}}">
								<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
							</a>
						{{/isAuthenticated}}
						{{^isAuthenticated}}
							<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
						{{/isAuthenticated}}
					</span>
					<span ng-show="(rate<2 && rate>0) || (startrate<2 && rate==0)" ng-mouseover="rate=2"
						  ng-mouseleave="rate=0"><ng-md-icon class="pointer" icon="star_outline" style="fill: black"
															 size="25px"></ng-md-icon></span>

					<span ng-show="(startrate>=3 && rate==0) || rate>=3" ng-mouseover="rate=3" ng-mouseleave="rate=0">
						{{#isAuthenticated}}
							<a href="/movie/setrate?rate=3&id={{movie.localId}}">
								<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
							</a>
						{{/isAuthenticated}}
						{{^isAuthenticated}}
							<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
						{{/isAuthenticated}}
					</span>
					<span ng-show="(rate<3 && rate>0) || (startrate<3 && rate==0)" ng-mouseover="rate=3"
						  ng-mouseleave="rate=0"><ng-md-icon class="pointer" icon="star_outline" style="fill: black"
															 size="25px"></ng-md-icon></span>

					<span ng-show="(startrate>=4 && rate==0) || rate>=4" ng-mouseover="rate=4" ng-mouseleave="rate=0">
						{{#isAuthenticated}}
							<a href="/movie/setrate?rate=4&id={{movie.localId}}">
								<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
							</a>
						{{/isAuthenticated}}
						{{^isAuthenticated}}
							<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
						{{/isAuthenticated}}
					</span>
					<span ng-show="(rate<4 && rate>0) || (startrate<4 && rate==0)" ng-mouseover="rate=4"
						  ng-mouseleave="rate=0"><ng-md-icon class="pointer" icon="star_outline" style="fill: black"
															 size="25px"></ng-md-icon></span>

					<span ng-show="(startrate>=5 && rate==0) || rate>=5" ng-mouseover="rate=5" ng-mouseleave="rate=0">
						{{#isAuthenticated}}
							<a href="/movie/setrate?rate=5&id={{movie.localId}}">
								<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
							</a>
						{{/isAuthenticated}}
						{{^isAuthenticated}}
							<ng-md-icon class="pointer" icon="star" style="fill: black" size="25px"></ng-md-icon>
						{{/isAuthenticated}}
					</span>
					<span ng-show="(rate<5 && rate>0) || (startrate<5 && rate==0)" ng-mouseover="rate=5"
						  ng-mouseleave="rate=0"><ng-md-icon class="pointer" icon="star_outline" style="fill: black"
															 size="25px"></ng-md-icon></span>

				</h4>
			</md-card>
		</div>

		<div flex="100">
			<div layout-gt-sm="row" layout-padding layout-wrap layout-fill>
				{{#movie.hasTags}}
					{{#movie.tags}}
						<a href="/movie/list?q={{.}}"
						   style="flex-grow: 1"
						   class="md-button md-primary md-raised md-hue-2">#{{.}}</a>
					{{/movie.tags}}
				{{/movie.hasTags}}

			</div>
		</div>
		{{#isAuthenticated}}
			<form name="commentForm" action="/movie/addComment?p={{movie.provider}}&i={{movie.id}}" method="post"
				  layout-padding>
				<md-input-container class="md-block" layout-padding>
					<label>Your comment:</label>
					<textarea ng-model="comment" md-maxlength="1500" rows="5" name="comment"></textarea>
				</md-input-container>
				<div style="text-align: right; padding: 0">
					<button class="md-accent md-raised md-button">ADD COMMENT</button>
				</div>
			</form>
		{{/isAuthenticated}}
		{{^isAuthenticated}}
			<h3 layout-padding>You should login to add comments.</h3>
		{{/isAuthenticated}}
		<md-content layout-padding>

			<md-list>
				{{#movie.comments}}
					<md-list-item class="md-3-line">
						<div class="md-list-item-text">
							<h3>{{userName}}</h3>
							<h4>{{comment}}</h4>
							<!--<p>I'll be in your neighborhood doing errands</p>-->
						</div>
						<md-divider></md-divider>
					</md-list-item>
				{{/movie.comments}}
			</md-list>


		</md-content>
	</div>
	<div flex-gt-md="40" flex="100">
		<md-whiteframe class="md-whiteframe-3dp md-padding md-margin" flex="100" layout layout-align="center left">
			<div>
				{{#movie.hasDescription}}
					{{{movie.description}}}
				{{/movie.hasDescription}}
				{{^movie.hasDescription}}
					No Description
				{{/movie.hasDescription}}
			</div>
		</md-whiteframe>
	</div>
</div>

<div layout="row" layout-padding layout-wrap layout-fill>
	{{#relatedMovies}}
		<div flex-lg="20" flex-md="50" slex-sm="100" flex-gt-lg="15" flex="100">
			<md-card class="md-whiteframe-3dp">
				<img ng-src="/image/{{type}}/{{id}}/{{seoTitle}}" alt="{{title}}" class="md-card-image">
				<md-card-content>
					<a href="/movie/{{type}}id/{{id}}/{{seoTitle}}" style="color: gray;">{{title}}</a>
				</md-card-content>
			</md-card>
		</div>
	{{/relatedMovies}}
</div>



